body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    max-width: 100%; /* Prevent overflow */
}

/*.product-scroll {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden; /* Prevent horizontal scrolling inside the scrollable area
}*/

.navbar-nav {
    text-align: center;
    margin-left: auto;
;
}

/* Sicherstellen, dass das Modal immer zentriert ist */
.modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* Vertikale und horizontale Zentrierung */
}