body {
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 50px;
}

.funny-dinner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Flexibles Layout */
}

.funny-dinner-container img {
    width: 100%;
    max-width: 450px; /* Bildgröße angepasst */
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.instructions {
    flex: 1 1 50%; /* Textbereich weiter schmaler gemacht */
    padding: 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border-radius: 15px;
    color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.instructions h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.instructions p {
    line-height: 1.6;
    font-size: 1.1rem;
}

.steps {
    list-style-type: none;
    padding: 0;
}

.steps li {
    margin: 15px 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.steps li i {
    margin-right: 10px;
}

.text-center a {
    font-size: 1.1rem;
    padding: 12px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0 10px;
}

.text-center a:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    transform: scale(1.03);
}

.text-center button {
    font-size: 1.1rem;
    padding: 12px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0 10px;
}

.text-center button:hover {
    background-color: #218838;
    border-color: #218838;
    transform: scale(1.03);
}

@media (max-width: 767px) {
    .funny-dinner-container {
        flex-direction: column;
        align-items: center;
    }

    .instructions {
        max-width: 100%;
    }
}
