body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    max-width: 100%; /* Prevent overflow */
}

/* Sicherstellen, dass das Modal immer zentriert ist */
.modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* Vertikale und horizontale Zentrierung */
}
