body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    max-width: 100%; /* Prevent overflow */
}

/* Sicherstellen, dass das Modal immer zentriert ist */
.modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* Vertikale und horizontale Zentrierung */
}

/* Anfangszustand: Inhalte starten unsichtbar */
.content {
    opacity: 0; /* Start völlig transparent */
    visibility: visible; /* Sichtbar für Screenreader, aber Benutzer sieht es nicht */
    transition: opacity 0.2s ease-in; /* Übergang 1.5 Sekunden, smooth sichtbar */
}

/* Wenn aktiv: Inhalte werden sichtbar */
.content.active {
    opacity: 1; /* Voll sichtbar */
}