/* Für eine scrollbare Tabelle (maximale Höhe) */
.scroll-table {
    max-height: 200px;
    overflow-y: auto;
}

.disabledInput {
    pointer-events: none;
    opacity: 0.5;
    background-color: #ddd;
}